body {
    background: #333;
    margin: 0;
    color: #888;
    font-family: 'Courier New', Courier, monospace;
}
a {
    text-decoration: none !important;
}
.article {
    background-color: #444;
    color: #999;
    font-size: 20px
}
.article:hover {
    font-size: 22px
} 
.subarticle {
    background-color: #555;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #aaa;
    width: 100%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}
.subarticle:hover {
    font-size: 17px;
}
.main-content {
    top: 50px;
    background-color: #666;
    color: #bbb;
    display: grid;
}
.header-logo {
    font-size: 50px;
    font-weight: 1000;
    color: #111;
    background: url("images/header-background.jpg");
    width: 100%;
    height: 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 10px;
}
.sidebar {
    float: left;
    top: 0%;
    left: 0%;
    top: 50px;
    width: 200px;
}
.style-switch {
    width: 50%;
    height: 30px;
    text-align: center;
    background-color:#333;
    color: #bbb;
}
.menu-button {
    height: 50px;
    width: 50px;
    display: grid;
    padding: 0px;
    border: 0px;
}
.menu-button:hover {
    background-color: rgba(120,120,120, 0.5);
}